@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme variables */
:root {
  --color-primary: #173150;
  --color-secondary: #76a3a9;
  --color-accent: #d0b68e;
  --color-soft: #e8e8c1;
  --color-foreground: #0f172a;
  --color-background: #ffffff;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
